* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  padding: 0 150px;
  background-color: rgb(255, 240, 240);
}

main {
  max-width: 1100px;
  margin: auto;
  background: white;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 75% 5%;
}

h1 {
  font-weight: bold;
}

h2 {
  padding-bottom: 3px;
  border-bottom: 3px solid rgb(219, 128, 128);
  width: fit-content;
}

#experiences h3 {
  width: fit-content;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

b {
  color: black;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 75% 5%;
}

span {
  font-weight: 400;
  color: gray;
  font-style: italic;
}

section,
header {
  display: grid;
  padding: 50px;
  gap: 30px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topics {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.experience-place {
  width: 160px;
}

#header-information {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  grid-column: span 2;
  border-bottom: 1px solid rgb(219, 128, 128);
}

#main-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

#img {
  height: 350px;
  width: 300px;
  background-image: url("./src/Perfil.jpg");
  background-size: cover;
}
